.container{
    height: 90%;
    width: 100%;
    padding-top: 10px;
}
.from{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* align-items: flex-start; */
}
.formInputContainer{
    padding: 6px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    position: relative;
}
.formInput{
    width: 100%;
    padding-left: 3px;
    background: none;
    outline: none;
    border: none;
}
.formInputContainer:focus-within{
    box-shadow: 0px 0px 3px 0px var(--primary-color);
}
.inputTag{
    font-size: 0.9rem;
    position: absolute;
    top: -11px;
    left: 35px;
    background-color: #715a14;
    padding-left: 3px;
    padding-right: 3px;
    color: var(--primary-color);
}
.submitBtn{
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    background: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    cursor: pointer;
}
.googleLogo{
    height: 40px;
    width: 40px;
}
.googleContainer{
    display: flex;
    gap: 5px;
}
.linkContainer{
    display: flex;
    height: 100%;
    align-items: center;
    text-decoration: none;
    border-radius: 30px;
    background-color: white;
    padding-right: 7px;
    color: var(--secondary-color);
}
.redirectContainer{
    display: flex;
    gap: 5px;
    align-items: center;
}
.link{
    text-decoration: none;
    color: var(--primary-color);
}